{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Course Catalog</title>

    <!-- Reset Stylesheet -->
    <link href="{% static "Reset_Stylesheet.css" %}" rel="stylesheet" type="text/css">
    <!-- Project CSS -->
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">

</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="{% url "list" %}">Course List</a>
            </li>
            <li>
                <a href="{% url "add" %}">Add Course</a>
            </li>
        </ul>
    </nav>
    <hr/>
    <br/>
    <div>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>