{% extends "base.html" %}

{% block body %}
    <h1>Course List</h1>
    <br/>
    <table class="CSSTableGenerator">
        <tr>
            <td>#</td>
            <td>Course Title</td>
            <td>Instructor</td>
            <td>Duration</td>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>{{ object.id }}</td>
                <td><a href="{% url "detail" object.id %}">{{ object.title }}</a></td>
                <td>{{ object.instructor }}</td>
                <td>{{ object.duration }} Weeks</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}