{% extends "base.html" %}

{% block body %}
    <table>
        <tr>
            <th>#</th>
            <th>Course Title</th>
            <th>Instructor</th>
            <th>Duration</th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.title }}</td>
                <td>{{ object.description }}</td>
                <td>{{ object.duration }} Weeks</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}